
  .mat-input-element {
    font-size: medium;
    font-weight: 200;
  }
  h1{
    margin-left: 42%;
    margin-top: 2%;

  }
  #fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
  }
  
  .mat-toolbar-single-row button {
    width: 100px;
  }
  
  .mat-form-field {
    width: 50%;
    margin-left: 25%;
  }
  .btn-success{
    margin-left: 45%;
  }
  
  .message {
    background-color: #ddd;
    padding: 15px;
    color: #333;
    border: #aaa solid 1px;
    border-radius: 4px;
    margin: 15px 0;
  }
  .upload {
    cursor: pointer;
}
  .preview {
    max-width: 200px;
    vertical-align: middle;
  }
  
.card{
  width: 50%;
  margin-left: 25%;
}
  
  .list-item {
    margin-bottom: 20px;
  }