select{
    border: none;
    background-color: transparent;
}
#degrade-diagonal {
    background: linear-gradient(to bottom right, #F94444, #DB9812);
    color: white;
    border-radius: 10px;
    border: 0;
    line-height: 2.5;
    padding: 0 30px;
    font-size: 1rem;
    text-align: center;
  }