
<app-navbar></app-navbar>
<button type="button" class="btn btn-dark rounded-0 py-2 px-9" id="btnc" routerLink="/contact">Complaint</button>
<button type="button" class="btn btn-dark rounded-0 py-2 px-9" id="btnf" routerLink="/suivi">followed</button>
<div class="collapse1" id="collapseExample1">
  <div class="content">
      
      <div class="card">
        <div class="row align-items-stretch no-gutters contact-wrap " >
          <div class="col-md-12">
            <div class="form h-100">
         <div class="container">
                <h2>Follow up on your  <small>claim</small></h2>
                <table class="responsive-table">
                  <div class="col-md-12">
                  <ul>
                  <tr>
                    <th>Number Complaint</th>
                    <th>Subject</th>
                    <th>Category Complaint</th>
                    <th>Date Complaint </th>
                    <th>Message </th>
                    <th>status</th>
                  </tr>
              
                  <tr *ngFor="let reclamation of list" class="trshadow">
               
                 
                    <td>{{reclamation.idRec}}</td>
                    <td>{{reclamation.Subject}}</td>
                    <td>{{reclamation.Category}}</td>
                    <td>{{reclamation.daterec}}</td> 
                    <td>{{reclamation.msgenvoyer}}</td>
                    <td><p>in process</p></td>
                
                </tr></ul></div>
                </table>
              
              </div>
  
  
  
            
  
            </div>
          </div>
        </div>
      </div>
  
  </div>
</div>
<app-footer></app-footer>
