<section class="vh-100">
    <div class="fbody">
    
        <div class="card">
                        
                            <div class="text-center">
                              <h3><i class="fa fa-lock fa-4x"></i></h3>
                              <h2 class="text-center">Forgot Password?</h2>
                              <p>You can reset your password here.</p>
                                <div class="panel-body">
                                  
                                    <mat-stepper orientation="vertical" linear="isLinear" #stepper>
                                        <mat-step [stepControl]="emailForm">
                                                    <form [formGroup]="emailForm">
                                                        <ng-template matStepLabel>Request Password Reset Code</ng-template>
                                                        <mat-form-field>
                                                        <input
                                                            type="text"
                                                            matInput
                                                            placeholder="gmail"
                                                            formControlName="email"
                                                            autocomplete="off"
                                                        />
                                                        </mat-form-field>
                                                        <br />
                                                        <button
                                                        mat-button
                                                        matStepperNext
                                                        [disabled]="!emailForm.valid"
                                                        (click)="submitEmail()"
                                                        >
                                                        Next
                                                        </button>
                                                    </form>
                                                    </mat-step>
                                                    <mat-step [stepControl]="confirmCodeForm">
                                                    <form [formGroup]="confirmCodeForm">
                                                        <ng-template matStepLabel>Password Reset</ng-template>
                                                  
                                                
                                                        <mat-form-field>
                                                        <input
                                                            type="text"
                                                            matInput
                                                            placeholder="confirmation code"
                                                            formControlName="confirmationCode"
                                                            autocomplete="off"
                                                        />
                                                        </mat-form-field>
                                                        <br />
                                                        <button
                                                        mat-button
                                                        matStepperNext
                                                        [disabled]="!confirmCodeForm.valid"
                                                        (click)="submitCode()"
                                                        >
                                                        Next
                                                        </button>
                                                    </form>
                                                    </mat-step>
                                                    <mat-step>
                                                    <ng-template matStepLabel>Next Steps</ng-template>
                                                    <p>You are now done.</p>
                                                    <div>
                                                        <button mat-button matStepperPrevious>Back</button>
                                                        <button mat-button (click)="stepper.reset()">Reset</button>
                                                    </div>
                                                    </mat-step>
                                                </mat-stepper>
                                                <span>Don't have an account? <a routerLink="/singup">sign in</a></span>
                                                </div>
    </div></div></div></section>
