<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div  class="normal-search">
          <input type="search" class="search" placeholder="Search">
          <i class="fa fa-search search-icon"></i>
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fa fa-expand menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </button>
        </div>

        <div class="head-menu-item" *ngFor="let data of datarec">
          <button class="head-menu-item-btn ripple" [routerLink]="[data.routLink]"
          routerLinkActive="active"
      [routerLinkActiveOptions]=" {exact: true} "
          >
            <i class="far fa-comment-alt menu-icon"></i>
          </button>
        </div>

        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple" (click)="logout()">
            <i class="fa fa-power-off power-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img src="../assets/img/salimadmin.jpeg" alt="admin" class="user-avatar">
          <div class="circle-indicator pulse">

          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

